<div class="estilos-listado">
{{#each data.docs}}
    <div class="tarjeta-producto">
            <img className='imgar' src="" alt="" />
            <p><a href="/api/products/{{_id}}">{{title}}</a></p>
            <p>Categoria:{{category}}</p>
            <p>Precio:{{price}}$</p>
            <p>Stock:{{stock}}</p>
            <button class="boton-ver"><span>Al carro</span></button>
        </div>
{{/each}}
</div>

<script src="/js/product.js"></script>

